In [1]:
import pandas as pd
import lightgbm
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns
from sklearn.metrics import explained_variance_score

data = pd.read_csv("C:\\Users\CAD&VLSI\\Desktop\\CAD\\test_csv.csv")
data

        a    b      ab
0     563  155   87265
1     512  735  376320
2     120  754   90480
3     149  871  129779
4     244  527  128588
...   ...  ...     ...
6995  579  697  403563
6996  494  274  135356
6997  948  541  512868
6998  748  182  136136
6999  474  525  248850

[7000 rows x 3 columns]

In [7]:
new_data = data[['a','b']]

X = new_data.values
y = data['ab'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

print(X_train[:10], y_train[:10])

[[563 578]
 [650 850]
 [861 953]
 [116 728]
 [726 237]
 [274 760]
 [606 741]
 [880 210]
 [852 760]
 [513 962]] [325414 552500 820533  84448 172062 208240 449046 184800 647520 493506]

In [3]:
from lightgbm import LGBMRegressor

model = LGBMRegressor(time_out=5, seed=42)
model.fit(X_train, y_train)

LGBMRegressor(seed=42, time_out=5)

In [4]:
predictions = model.predict(X_test)
print(explained_variance_score(predictions,y_test))

0.9996160116005528